# Lists

Lists are a way to way to store a collection of data. Let's consider an example below representing student grades:

In [2]:
student_grades = [0.92, 0.81, 0.74, 0.88, 0.96, .61, 0.45, 0.66, 1.0, 0.79]

Lists can also store any type of variable

In [3]:
letters = ["a", "b", "c"]

Lists can also contain different data types. Use isinstance to determine which type it is

In [4]:
var_list = [1, 1.0, "hello"]

print(isinstance(var_list[0], int))

True

## Indexing

We can capture a particular student's grade by accessing the index it is located within the list. Write code to answer the following:
1. What is the 3rd student's grade?
2. What is the last student's grade?

In [5]:
third_student_grade = 
last_student_grade = 

print("3rd student's grade is {}%".format(third_student_grade*100))
print("last student's grade is {}%".format(last_student_grade*100))

SyntaxError: invalid syntax (3280584943.py, line 1)

As we can see, a list first index starts at 0. This is known as zero-indexed

## Change Value

We can change the values of elements within the list

Student 3's grade has improved to 90%. Update this in student_grades and print the resulting list

In [ ]:


print(student_grades)

## Slicing

We can access a range of elements within a list using slicing. Complete the following in a single line:
1. Print student 2-5's grade
2. Print all grades except the first 3 students

In [ ]:
print(student_grades[])
print(student_grades[])

## Remove

We can remove elements from a list in multiple ways. Let's complete the following:
1. Any student who has 100% in the class should be dropped from the class so they can be moved up to a more advanced class
2. The student at the 6th index grade is too low, so they need to drop the class

In [ ]:


print(student_grades)

## Adding Elements

Elements can be added to the class. Let's add 2 students to the class. Since they just joined, let's assume their grades are 0%

In [ ]:


print(student_grades)

## Inserting Elements

Elements can also be inserted at a specific position. Let's add a student in the second position of the list:

In [ ]:


print(student_grades)

## Combine Lists

Much like strings can be concatenated, lists can also be combined using the + operator.

Let's assume another class' students need to be combined with our class. Write code below to create a new list that contained the combined classes:

In [ ]:
second_student_grades = [0.85, 0.71, 0.98, 0.60]

combined_student_grades = 

print(combined_student_grades)

## Sorting

We can sort lists in ascending or descending order. Let's practice:
1. Sort the combined_student_grades in ascending order
2. Sort the combined_student_grades in descending order

In [ ]:


print(combined_student_grades)


print(combined_student_grades)

## List Iteration

We can traverse through every element in the array using the following code:

In [ ]:
for index, value in enumerate(combined_student_grades):
    print(f"Index {index}: {value*100}%")

## Length of Array

The len function returns how many elements are in the array

In [ ]:
print("There are {} elements in combined_student_grades".format(len(combined_student_grades)))

# Exercises

1. Given student_grades and second_student_grades, compute the average grade of each class and programatically print which class has a higher average grade
2. Given a student_grades and student_ids, print the ID corresponding to the student with the highest and lowest grade programatically

In [1]:
# Exercise 1 code

NameError: name 'student_grades' is not defined

In [ ]:
student_grades = [0.85, 0.71, 0.98, 0.60, 0.98]
student_ids = [1, 2, 3, 4, 5]

# Exercise 2 code

# Challenge Exercises

1. Given 2 lists, write code to merge the two lists but remove the duplicate elements
2. Write code to sort a list and then programatically search for the element that has a value of 7 and return its index

In [ ]:
list1 = [3, 6, 9, 12, 15]
list2 = [2, 4, 6, 8, 10, 12, 14]

# Challenge exercise 1 code

In [ ]:
numbers = [1, 5, 2, 7, 4, 0, 8, 3, 6, 9]

# Challenge exercise 2 code